<form>
	<div class="mb-3">
		<label for="nameInput" class="form-label">Imię ucznia</label>
		<input type="text" class="form-control" id="nameInput" />
	</div>
	<div class="mb-3">
		<label for="surnameInput" class="form-label">Nazwisko ucznia</label>
		<input type="text" class="form-control" id="surnameInput" />
	</div>
	<div class="mb-3">
		<label for="classInput" class="form-label">Klasa</label>
		<input type="text" class="form-control" id="classInput" />
	</div>
	<div class="mb-3">
		<label for="gradeInput" class="form-label">Ocena</label>
		<input type="text" class="form-control" id="gradeInput" />
	</div>
</form>
